<div class="Main">

    <!-- Sidebar -->
    <section id="sidebar">
        <div class="inner">
            <nav>
                <ul>
                    <li><a href="/mainmenu">Who we are</a></li>
                    <li><a href="/students">Students</a></li>
                    <li><a href="/subjects">Subjects</a></li>
                    <li><a href="/exams">Exams</a></li>

                </ul>
            </nav>
        </div>
    </section>

    <div id="wrapper">

        <div ng-view>
            <!-- Aquí van las diferentes views-->
        </div>

    </div>

    </div>