<div class="Main">
    <section class="wrapper style3 fade-up" style="background-color:lightsalmon">
        <div class="inner">
            <h2>Exams</h2>

            <section style="margin-top:70px">
                <form method="post" action="#">
                    <div class="fields col-10-small">
                        <wrapper>
                            <div class="field half">
                                <label for="finalMark">Final Mark</label>
                                <input type="text" name="finalMark" id="finalMark" />
                            </div>
                            <div class="field half">
                                <label for="examTitle">Exam Title</label>
                                <input type="text" name="examTitle" id="examTitle" />
                            </div>
                            <div class="field half">
                                <label for="studentDni">Student Dni</label>
                                <input type="text" name="studentDni" id="studentDni" />
                            </div>
                            <div class="field half">
                                <label for="subjectCode">SubjectCode</label>
                                <input type="text" name="subjectCode" id="subjectCode" />
                            </div>

                        </wrapper>
                    </div>
                    
                </form>
            </section>


            <section>
                <h2>Exams DataGrid</h2>
                
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Student Name</th>
                                <th>Subject Name</th>
                                <th>Exam Title</th>
                                <th>Final Mark</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                        </tbody>
                        
                    </table>
                </div>

            </section>

        </div>
    </section>


</div>