
    <div class="Main">
        <!-- Intro -->

        <section id="intro" class="wrapper style1 fullscreen fade-up" style="background-color:brown">
            <div class="inner">

                <h1 style="color:azure">Welcome to ITAcademy!</h1>
                <p style="color:azure">
                    IT Academy de Cibernàrium t'ofereix cursos gratuïts de programació web (back-end Java, front-end, .NET i Android).
                </p>

                <iframe width="720" height="480" align="middle"
                        src="https://www.youtube.com/embed/watch?v=2B47sIS2z4Y&list=PL26B5539E3ADCB05A&index=24">
                </iframe>


                <ul class="actions">
                    <li><a href="https://www.youtube.com/watch?v=WkH6sP_6Ryw&list=PL26B5539E3ADCB05A&index=1" target="_blank" class="button">Examples of Success!</a></li>
                </ul>



            </div>
        </section>
    </div>
